---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="h-[90vh] bg-center bg-[url('/banner.jpg')] bg-no-repeat bg-cover flex flex-col justify-start items-start relative text-white">
			<div class="bg-black w-full h-full absolute opacity-30"></div>
			<div class="flex flex-col relative md:w-[44%] h-full justify-center items-center p-6">
				<span class="text-4xl md:text-7xl font-bold">
					¿ESTÁS LISTO
					PARA EMPEZAR
					EL VIAJE?
				</span>
				<a href="https://wa.link/28rewy" target="_blank" class="absolute bottom-10 rounded-3xl left-4 text-center text-3xl w-[50%] bg-sky-600 text-white font-semibold px-4 py-2">Contacto</a>
			</div>
			<span class="hidden md:block absolute right-4 bottom-3 text-lg md:text-5xl text-center">
				<i>Pablo Machicao</i>
				<br>
				Coach Life
			</span>
			<div class="flex justify-center items-center w-full relative rotate-180 ">
				<svg id="flecha" xmlns="http://www.w3.org/2000/svg"  width="64"  height="64"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-up m-auto absolute -bottom-10"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 11v6l-5 -4l-5 4v-6l5 -4z" /></svg>		
			</div>
		</div>
		<div class="min-h-[50vh]">
			<h2 class="py-7 text-3xl md:text-6xl text-blue-700 text-center">
				PIENSA SIENTE Y ACTUA 
			</h2>
			<div class="flex flex-col md:grid md:grid-cols-[1fr_1fr_2fr] text-center text-3xl w-[90%] m-auto font-semibold gap-7">
				<div class="p-5 flex flex-col justify-start items-center">
					<img class="h-[280px] rounded-3xl" src="/foco2.jpg" alt="siente">
					<p>
						Solo tú,
						puedes darle un
						sentido a tu vida.

					</p>
				</div>
				<div class="p-5 flex flex-col justify-start items-center">
					<img class="h-[280px] rounded-3xl" src="/foco1.jpg" alt="piensa">
					<p>
						Lograr encontrar
						en cada aprendizaje,
						herramientas para
						brillar.
					</p>
				</div>
				<div class="p-5 flex flex-col justify-start items-center">
					<p>
						Alguna vez te preguntaste,
						¿Que hace que me despierte cada día?,
						¿Tuviste el valor de darle un sentido a tú
						vida?, ¿Lograr experimentar que vas por
						el camino correcto?, ¿Encontrar
						respuestas a las interrogantes de tu vida?,
						¿Mirar el futuro de una forma optimista?,
						¿Crear oportunidades para llegar a tus
						metas?.
						Un mal momento en tu presente
						no define tu futuro.
					</p>
				</div>
			</div>  
		</div>
		<span class="w-full grid place-items-center text-4xl mt-20">
			JAMÁS TE RINDAS
		</span>
		<div class="py-4 my-20 px-3 flex flex-wrap-reverse justify-center md:justify-around items-center">
			<p class="font-semibold text-3xl text-left w-[50%]">
				Mi nombre es Pablo, soy coach de vida certificado y te
acompañaré en este proceso de transformación,
ayudándote a sacar lo mejor de ti, compartiendo
contigo herramientas que te ayudarán en diferentes
momentos de tu vida.
Lograremos identificar áreas que necesiten apoyo y
ayuda, explorando caminos de transformación para
que puedas sentir y ver los cambios que nos ayudarán
al logro de tus metas.
			</p>
			<img src="/foto.png" alt="foto de perfil">
		</div>
		<h2 class="pt-10 text-5xl text-center text-blue-700 font-semibold">
			¿Quien necesita un coach de vida?
		</h2>
		<div class="flex flex-wrap gap-8 justify-center items-center font-bold mt-10 text-lg">
			<div class="w-[190px] h-[190px] grid place-items-center bg-white py-10 text-center rounded-[100%]">Personas en
				transiciones
				importantes</div>
			<div class="w-[190px] h-[190px] grid place-items-center bg-white py-10 text-center rounded-[100%]">Personas
				que buscan
				un mayor
				equilibrio</div>
			<div class="w-[190px] h-[190px] grid place-items-center bg-white py-10 text-center rounded-[100%]">Personas con
				bloqueos o
				creencias
				limitantes</div>
			<div class="w-[190px] h-[190px] grid place-items-center bg-white py-10 text-center rounded-[100%]">Personas que
				desean mejor
				su bienestar
				emocional
				</div>
			<div class="w-[190px] h-[190px] grid place-items-center bg-white py-10 text-center rounded-[100%]">Personas que
				sientes que
				perdieron su
				propósito
				</div>
			<div class="w-[190px] h-[190px] grid place-items-center bg-white py-10 text-center rounded-[100%]">Personas
				que no
				logran
				alcanzar sus
				metas
			</div>
		</div>
	</main>
	<footer>
		<h2 class="py-10 text-5xl text-center text-blue-700 font-semibold ">CONTÁCTAME</h2>
		<div class="flex flex-col md:grid md:grid-cols-3 gap-20 text-xl w-[80%] m-auto">
			<div class="bg-white p-4 text-center rounded-3xl grid place-items-center">
				<strong>Formulario de
					contacto</strong>
				<span>
					Si tienes alguna duda
				puedes llenar el formulario
				para recibir una respuesta
				lo mas rápido posible
				</span>
			</div>
			<div class="bg-white p-4 text-center rounded-3xl grid place-items-center">
				<strong>Agenda tu cita</strong>
				<span>
					Puede ser presencial o también online.
				</span>
			</div>
			<div class="bg-white p-4 text-center rounded-3xl grid place-items-center">
				<strong>Talleres grupales</strong>
				<ul>
					<li>Propósito de vida.</li>
					<li>Formar nuevas realidades.</li>
					<li>Metas y planificación.</li>
					<li>Bienestar emocional.</li>
					<li>Nuestras Fortalezas.</li>
					<li>Amor Propio.</li>
				</ul>
			</div>
		</div>
	</footer>
</Layout>
<style>
	#flecha{
		animation: infinite 2s moving;
	}
	@keyframes moving {
		0%{
			transform: translateY(-20px);
		
		}
		50%{
			transform: translateY(0px);
		}
		100%{
			transform: translateY(-20px);
		}
	}
</style>