---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pablo Machicao | Coach de Vida">
	<main>
		<div class="circles opacity-10 h-[90vh] bg-center bg-[url('/banner.jpg')] bg-no-repeat bg-cover flex flex-col justify-center md:justify-start items-center md:items-start relative text-white">
			<div class="md:bg-gradient-to-bl to-black bg-black from-white w-full h-full absolute md:opacity-50  opacity-20"></div>
			<div class="flex flex-col relative md:w-[44%] h-full justify-center items-center p-6">
				<span class="text scale-75 text-5xl md:text-[4.2rem] leading-none font-bold text-center md:text-left">
					¿ESTÁS <br> LISTO
					PARA EMPEZAR
					EL VIAJE?
				</span>
				<a href="https://wa.link/28rewy" target="_blank" class="absolute bottom-10 rounded-3xl md:left-4 text-center text-3xl w-[50%] bg-sky-600 text-white font-[400] px-4 py-2">Contacto</a>
			</div>
			<span class="hidden md:block absolute right-4 bottom-3 text-lg md:text-2xl text-center">
				<i>Pablo Machicao</i>
				<br>
				Coach Life
			</span>
			<div class="flex justify-center items-center w-full relative rotate-180 ">
				<svg id="flecha" xmlns="http://www.w3.org/2000/svg"  width="64"  height="64"  viewBox="0 0 24 24"  fill="none"  stroke="#fff"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-up m-auto absolute -bottom-10"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 11v6l-5 -4l-5 4v-6l5 -4z" /></svg>		
			</div>
		</div>
		<div class="min-h-[50vh]">
			<h2 class="py-7 text-3xl md:text-5xl text-blue-700 text-center font-bold">
				PIENSA SIENTE Y ACTUA 
			</h2>
			<div class="flex flex-col justify-center items-center md:grid md:grid-cols-[1fr_1fr_2fr] text-center md:text-2xl w-[90%] m-auto font-[400] gap-2 md:gap-7">
				<div class="nextB translate-y-14 opacity-10 p-3 md:p-5 flex flex-col justify-start items-center h-full">
					<img class="h-[160px] md:h-[280px] rounded-3xl" src="/foco2.jpg" alt="siente">
					<p>
						Solo tú,
						puedes darle un
						sentido a tu vida.

					</p>
				</div>
				<div class="nextB translate-y-14 opacity-10 p-3 md:p-5 flex flex-col justify-start items-center">
					<img class="h-[160px] md:h-[280px] rounded-3xl" src="/foco1.jpg" alt="piensa">
					<p>
						Lograr encontrar
						en cada aprendizaje,
						herramientas para
						brillar.
					</p>
				</div>
				<div class="nextB translate-y-14 opacity-10 p-3 md:p-5 flex flex-col justify-start items-center ">
					<p>
						Alguna vez te preguntaste,
						¿Que hace que me despierte cada día?,
						¿Tuviste el valor de darle un sentido a tú
						vida?, ¿Lograr experimentar que vas por
						el camino correcto?, ¿Encontrar
						respuestas a las interrogantes de tu vida?,
						¿Mirar el futuro de una forma optimista?,
						¿Crear oportunidades para llegar a tus
						metas?.
						Un mal momento en tu presente
						no define tu futuro.
					</p>
				</div>
			</div>  
		</div>
		<span class="w-full text-5xl flex justify-center items-center">
			¡ <span class="font-['Cream'] inline-block">Jamás te rindas </span> !
		</span>
		<div class="my-10 px-3 flex flex-wrap-reverse gap-7 md:gap-10 justify-center items-center">
			<p class="font-[400] md:text-2xl text-left w-[80%] md:w-[50%] text scale-75">
				Mi nombre es Pablo, soy coach de vida certificado y te
				acompañaré en este proceso de transformación,
				ayudándote a sacar lo mejor de ti, compartiendo herramientas que te ayudarán en diferentes
				momentos de tu vida.
				Lograremos identificar áreas que necesiten apoyo y
				ayuda, explorando caminos de transformación para
				que puedas sentir y ver los cambios que nos ayudarán
				al logro de tus metas.
			</p>
			<img class="circles md:hidden opacity-10 float-right w-[180px] rounded-full" src="/foto.png" alt="foto de perfil">
			<img class="circles hidden opacity-10 md:flex md:w-auto rounded-full" src="/foto.png" alt="foto de perfil">
		</div>
		<h2 class="pt-10 text-4xl text-center text-blue-700 font-[400]">
			¿Quien necesita un coach de vida?
		</h2>
		<div class="flex flex-wrap gap-8 justify-center items-center font-bold mt-10 text-[1rem] md:w-[50%] m-auto">
			
				<div class="circles opacity-10 w-[197px] h-[197px] relative inline-block p-4 bg-white rounded-full shadow-xl">
					<!-- Contenedor externo para el borde degradado -->
					<div class="absolute inset-0 rounded-full bg-gradient-to-r from-pink-500 via-purple-500 to-yellow-500 p-[2px]">
					  <!-- Contenedor interno para el fondo blanco -->
					  <div class="flex items-center justify-center h-full w-full bg-white rounded-full">
						<span class="text-center text-black font-bold">Personas en
							transiciones
							importantes</span>
					  </div>
					</div>
				  </div>
				<div class="circles opacity-10 w-[197px] h-[197px] relative inline-block p-4 bg-white rounded-full shadow-xl">
					<!-- Contenedor externo para el borde degradado -->
					<div class="absolute inset-0 rounded-full bg-gradient-to-r from-pink-500 via-purple-500 to-yellow-500 p-[2px]">
					  <!-- Contenedor interno para el fondo blanco -->
					  <div class="flex items-center justify-center h-full w-full bg-white rounded-full">
						<span class="text-center text-black font-bold">Personas que buscan <br>un mayor equilibrio</span>
					  </div>
					</div>
				  </div>
				<div class="circles opacity-10 w-[197px] h-[197px] relative inline-block p-4 bg-white rounded-full shadow-xl">
					<!-- Contenedor externo para el borde degradado -->
					<div class="absolute inset-0 rounded-full bg-gradient-to-r from-pink-500 via-purple-500 to-yellow-500 p-[2px]">
					  <!-- Contenedor interno para el fondo blanco -->
					  <div class="flex items-center justify-center h-full w-full bg-white rounded-full">
						<span class="text-center text-black font-bold">Personas con<br>bloqueos o<br>creencias limitantes</span>
					  </div>
					</div>
				</div>
				<div class="circles opacity-10 w-[197px] h-[197px] relative inline-block p-4 bg-white rounded-full shadow-xl">
					<!-- Contenedor externo para el borde degradado -->
					<div class="absolute inset-0 rounded-full bg-gradient-to-r from-pink-500 via-purple-500 to-yellow-500 p-[2px]">
					  <!-- Contenedor interno para el fondo blanco -->
					  <div class="flex items-center justify-center h-full w-full bg-white rounded-full">
						<span class="text-center text-black font-bold">Personas que
							desean mejorar
							su bienestar
							emocional</span>
					  </div>
					</div>
				</div>
				<div class="circles opacity-10 w-[197px] h-[197px] relative inline-block p-4 bg-white rounded-full shadow-xl">
					<!-- Contenedor externo para el borde degradado -->
					<div class="absolute inset-0 rounded-full bg-gradient-to-r from-pink-500 via-purple-500 to-yellow-500 p-[2px]">
					  <!-- Contenedor interno para el fondo blanco -->
					  <div class="flex items-center justify-center h-full w-full bg-white rounded-full">
						<span class="text-center text-black font-bold">Personas que
							sienten <br> que
							perdieron su
							propósito</span>
					  </div>
					</div>
				</div>
				<div class="circles opacity-10 w-[197px] h-[197px] relative inline-block p-4 bg-white rounded-full shadow-xl">
					<!-- Contenedor externo para el borde degradado -->
					<div class="absolute inset-0 rounded-full bg-gradient-to-r from-pink-500 via-purple-500 to-yellow-500 p-[2px]">
					  <!-- Contenedor interno para el fondo blanco -->
					  <div class="flex items-center justify-center h-full w-full bg-white rounded-full">
						<span class="text-center text-black font-bold">Personas
							que <br> no
							logran
							alcanzar sus
							metas</span>
					  </div>
					</div>
				</div>
		</div>
	</main>
	<footer>
		<h2 class="pt-10 text-4xl text-center text-blue-700 font-[400] ">Contáctame</h2>
		<div class="flex flex-col md:grid md:grid-cols-3 place-items-center gap-20 text-xl w-[80%] m-auto pt-36 pb-5">
			<div id="a1" class="actForm translate-y-14 bg-white py-20 text-center rounded-3xl flex flex-col justify-center items-center relative px-3">
				<div class="absolute rounded-full p-3 bg-white -top-[30%] md:-top-[44%]">
					<img class="rounded-full w-[120px] h-[120px] md:w-[170px] md:h-[170px]" src="/oceano.jpg" alt="oceano">
				</div>
				<strong>Formulario de
					contacto</strong>
				<span>
					Si tienes alguna duda
				puedes llenar el formulario
				para recibir una respuesta
				lo mas rápido posible
				</span>
			</div>
			<div id="a2" class="translate-y-14 bg-white py-4 text-center rounded-3xl flex flex-col justify-center items-center relative mt-20 md:mt-0 h-[200px] md:h-full p-3">
				<div class="absolute rounded-full p-3 bg-white -top-[50%] md:-top-[44%]">
					<img class="rounded-full w-[120px] h-[120px] md:w-[170px] md:h-[170px]" src="/fuego.jpg" alt="fuego">
				</div>
				<strong>Agenda tu cita</strong>
				<span>
					Puede ser presencial o también online.
				</span>
			</div>
			<div id="a3" class="translate-y-14 bg-white py-4 text-center rounded-3xl flex flex-col justify-center items-center relative mt-20 md:mt-0 h-full w-full px-3">
				<div class="absolute rounded-full p-3 bg-white -top-[44%] md:-top-[44%]">
					<img class="rounded-full w-[120px] h-[120px] md:w-[170px] md:h-[170px]" src="/semilla.jpg" alt="semilla">
				</div>
				<strong class="pt-5">Talleres grupales</strong>
				<ul>
					<li>Propósito de vida.</li>
					<li>Formar nuevas realidades.</li>
					<li>Metas y planificación.</li>
					<li>Bienestar emocional.</li>
					<li>Nuestras Fortalezas.</li>
					<li>Amor Propio.</li>
				</ul>
			</div>
		</div>
		<div class="flex flex-wrap justify-center items-center gap-10 my-10">
			<a class="flex gap-2" href="https://wa.link/28rewy">
				<svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
				<span class="text-xl">
					+591 71567302
				</span>
			</a>
			<a class="flex gap-2" href="https://www.facebook.com/@pablocoachlife/?mibextid=LQQJ4d ">
				<svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg>
				<span class="text-xl">
					Life Coach Pablo Machicao 
				</span>
			</a>
		</div>
	</footer>
	<div id="modal" class="hidden top-0 fixed w-full min-h-screen bg-black bg-opacity-65 justify-center items-center">
		<svg  id="x" xmlns="http://www.w3.org/2000/svg"  width="44"  height="44"  viewBox="0 0 24 24"  fill="none"  stroke="#000"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x absolute top-[5%] right-16"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
			<form action="https://formsubmit.co/pablomachicao@hotmail.com" method="POST">
				<div class="flex flex-col">
					<label for="name"><strong class="text-white">NOMBRE</strong></label>
					<input class="p-6 text center md:min-w-[800px] border-2 border-black rounded-lg max-h-[40px]" type="text" name="name" id="name" placeholder="introduzca su nombre..." required>
				</div>
				<div class="flex flex-col">
					<label for="phone"><strong class="text-white">TELÉFONO</strong></label>
					<input class="p-6 text center md:min-w-[800px] border-2 border-black rounded-lg max-h-[40px]" type="tel" name="phone" id="phone" placeholder="introduzca teléfono..." required>
				</div>
				<div class="flex flex-col">
					<label for="email"><strong class="text-white">CORREO ELECTRONICO</strong></label>
					<input class="p-6 text center md:min-w-[800px] border-2 border-black rounded-lg max-h-[40px]" type="email" name="correo" id="correo" placeholder="introduzca su correo..." required>
				</div>
				<div class="flex flex-col">
					<label for="mensaje"><strong class="text-white">MENSAJE</strong></label>
					<textarea placeholder="Mensaje... " class="p-6 md:min-w-[800px] border-2 border-black rounded-xl min-h-[100px]" name="mensaje" id="mensaje"></textarea>
				</div>
				<button class="w-[100%] mt-10 rounded-2xl bg-blue-600 text-white font-bold text-2xl md:text-4xl" type="submit">
						ENVIAR
				</button>
			</form>
		</div>
</Layout>
<style>
	#flecha{
		animation: infinite 2s moving;
	}
	@keyframes moving {
		0%{
			transform: translateY(-20px);
		
		}
		50%{
			transform: translateY(0px);
		}
		100%{
			transform: translateY(-20px);
		}
	}
	ul{
		list-style:circle;
	}
	.circles, .nextB, .text{
		transition:1.2s all ;
	}
	#a1{
		transition:1.2s all ;
	}
	#a2{
		transition:1.6s all ;
	}
	#a3{
		transition:2s all ;
	}
</style>
<script>	
	const actForm=document.querySelector('.actForm')
	const x=document.getElementById('x')
	const modal=document.getElementById('modal')
	const circles=document.querySelectorAll('.circles')
	const nextBs=document.querySelectorAll('.nextB')
	const texts=document.querySelectorAll('.text')
	const a1=document.getElementById('a1')
	const a2=document.getElementById('a2')
	const a3=document.getElementById('a3')
	const options = {
		root: null,
		rootMargin: "0px",
		threshold: 0.5,
	};
	function Aparecer(a, b) {
		a.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.remove("opacity-10");
			}
		});
	}function translate(a, b) {
		a.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.remove("translate-y-14");
			}
		});
	}function Scale(a, b) {
		a.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.remove("scale-75");
			}
		});
	}
	let observer=new IntersectionObserver(Aparecer,options)
	let observerT=new IntersectionObserver(translate,options)
	let observerS=new IntersectionObserver(Scale,options)
	circles.forEach(circle => {
		observer.observe(circle)		
	});
	nextBs.forEach(nextB => {
		observer.observe(nextB)		
		observerT.observe(nextB)
	});
	texts.forEach(text=>{
		observerS.observe(text)
	})
	observerT.observe(a1)
	observerT.observe(a2)
	observerT.observe(a3)

	actForm.addEventListener('click',()=>{
		modal.classList.replace('hidden','flex')
	})
	x.addEventListener('click',()=>{
		modal.classList.replace('flex','hidden')
	})
</script>